  <div class="image">

      <div class="text-center">
      
      <h1 class="font-weight-light" style="padding-top: 8%">
              UPDATE TECHNOLOGY DETAILS
      </h1>
      </div>
      
              <div class="d-flex justify-content-center" style="padding-top: 5%">
                      <div class="card" style="height: auto">
                              <div class="card-body">
                                      <form class="update-form" (ngSubmit)="submit_form_data(form1.value)" #form1="ngForm" >
                                              <div class="input-group form-group">
                                                      <div class="input-group-prepend">
                                                              <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                      </div>
                                                      <input type="text" class="form-control" [(ngModel)]="technologyName" name="technologyName" #technology_name2="ngModel" required placeholder="Enter Technology Name">
                                                      </div>
  
                                                      <div class="input-group form-group">
                                                          <div class="input-group-prepend">
                                                                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                          </div>
                                                          <input type="text" class="form-control" [(ngModel)]="commission" name="commission" #commissione2="ngModel" required placeholder="Enter New Commission">
                                                      </div>
  
                                                          
      
  
                                              <!-- <span *ngIf="technology_name2.invalid && technology_name2.dirty">
                                                      <small *ngIf="technology_name2.errors.required" class="red-text"> Technology name should not be empty</small>
                                                  </span><br>
      
                                                  <span *ngIf="commission2.invalid && commission2.dirty">
                                                      <small *ngIf="commission2.errors.required" class="red-text"> Commission should not be empty</small>
                                                  </span><br>                                                   -->
                                                  
                                              <div class="form-group">
                                                      <button [disabled]="!form1.form.valid" class="btn float-right btn-warning">Update Technology</button>      
                                              </div>
                                              
                                      </form>
                              </div>
      
                              <div>
                                      <h3 class="error" style="color: white">{{message}}</h3>
                                    </div>
      
                      </div>
              </div>
          </div>    