################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MentorOnDemandNew/.vs/MentorOnDemandNew/v16/Server/sqlite3
