<div class="image">

        <div class="form" style="text-align: center; padding-top: 5%;">
                <h2><strong style="color: black">Trainer List</strong></h2><br>
        <div class="card1 tablepadding">
          <table class="table table-striped table-bordered table-hover" style="color: white; background: rgba(0,0,0,0.7); width: 100%"> 
            <tr class="text" style="color: goldenrod">
              <th>ID</th>
              <th>Trainer Name</th>
              <th>Email Id</th>
              <!-- <th>Password</th> -->
              <th>Delete</th>
              <th>Block trainers</th>
              <th>Unblock trainers</th>
              <th>Status</th>
            </tr>
            <tr *ngFor="let trainer of trainers" class="text">
              <td>{{trainer.id}}</td>
              <td>{{trainer.name}}</td>
              <td>{{trainer.email}}</td>
              <!-- <td>{{trainer.pass_word}}</td> -->
              <td> 
                <button type="button" (click)="delete_trainer(trainer.id)" class="btn btn-dark button1">
                  <i class="fa fa-remove" style="color:red"></i> Delete
                </button>
              </td>
              <td>
                  <button type="button" (click)="block_trainer(trainer.id)" class="btn btn-dark button1">
                    <i class="fa fa-ban" style="color:red"></i> Block
                  </button>
              </td>
              <td>
                  <button type="button" (click)="unblock_trainer(trainer.id)" class="btn btn-dark button1">
                    <i class="fa fa-ban" style="color:white"></i> Unblock
                  </button>
              </td>
              <td>{{trainer.status}}</td>
            </tr>
          </table>
          <div style="align-items: center; padding-top: 1%;">
            <button  class="btn btn-dark form-button" routerLink="/adminpage">Back to Dash</button></div>
        </div>
        </div>
      </div>