<!-- <div class="image">

<div class="container" style="padding-top: 150px">

        <div class="card-deck">

            <div class="card" style="width:400px; height:300px; border-radius: 2rem; color: white;">
                    <span style="padding: 15px; color: goldenrod" class="fa fa-clock-o fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Current Trainings</h4>
                    <p class="card-text">See ongoing Trainings</p>
                    <a routerLink='../trainercurrent' class="btn btn-warning col-md-12" >View</a>
                </div>
            </div>

            <div class="card" style="width:400px; height:300px; border-radius: 2rem; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-thumbs-o-up fa-5x"></span>
            <div class="card-body">
                <h4 class="card-title">Completed Trainings</h4>
                <p class="card-text">See completed courses</p>
                <a routerLink='../trainercompleted' class="btn btn-warning col-md-12">View</a>
            </div>
            </div>

            <div class="card" style="width:400px; height:300px; border-radius: 2rem; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-edit fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Edit Skills</h4>
                    <p class="card-text">Edit the technologies and trainings.</p>
                    <a [routerLink]="['./traineredit', trainers.id]" class="btn btn-warning col-md-12">View</a>

                </div>
            </div>

        </div>
    </div>
</div>     -->










<div class="image">

    <div class="container" style="padding-top: 150px">
    
        <div class="card-deck" style="width: 100%">
            <div class="card" style=" height:300px; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-plus-circle fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Add Course</h4>
                    <p class="card-text">Add courses to start teaching.</p>
                    <a routerLink="../trainertechlist" class="btn btn-warning ">View</a>

                </div>
            </div>

                    <div class="card" style=" height:300px; color: white;">
                        <span style="padding: 15px; color: goldenrod" class="fa fa-edit fa-5x"></span>
                        <div class="card-body">
                            <h4 class="card-title">Update Profile</h4>
                            <p class="card-text">Update the profile with more info.</p>
                            <a [routerLink]="['../trainereditprofile']" class="btn btn-warning ">View</a>
        
                        </div>
                    </div>
    
                <div class="card" style=" height:300px; color: white;">
                        <span style="padding: 15px; color: goldenrod" class="fa fa-spinner fa-spin fa-5x fa-fw"></span>
                    <div class="card-body">
                        <h4 class="card-title">Current Trainings</h4>
                        <p class="card-text">View the current trainings in progress.</p>
                        <a routerLink='../trainercourselist' class="btn btn-warning ">View</a>
                    </div>
                </div>
    
                <div class="card" style=" height:300px; color: white;">
                        <span style="padding: 15px; color: goldenrod" class="fa fa-check-circle-o fa-5x"></span>
                    <div class="card-body">
                        <h4 class="card-title">Completed Trainings</h4>
                        <p class="card-text">View the trainings completed.</p>
                        <a routerLink='../trainercompleted' class="btn btn-warning " >View</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>    