<div class="image">


    <div class="text-center" style="padding-top: 3%;">

        <img src="https://i.ibb.co/MNWvMwy/kisspng-the-learning-hub-forest-gate-the-complete-cannabis-hub-5addbc7f5d0332-108650331524481151381.png"
            style="width: 260px">
    </div>
    <div class="text-center">

        <p style="padding-top: 3%"><b>LEARNING HUB</b> is an online platform for <b>STUDENTS</b> to learn from a wide
            range of topics <br> and for <b>TRAINERS</b> to pass on their knowledge to them.</p>
        <div class="d-flex justify-content-center" style="padding-top: 2%">
            <div class="card" style="height: 120px">
                <div class="card-body">
                    <p style="color: white">Are you here to <b>LEARN</b> or to <b>TEACH?</b> </p>

                    <div class="row">

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-warning " routerLink='../usersignin'>STUDENT</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-warning" routerLink='../trainersignin'>TRAINER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>