<div class="image">
        <div class="text-center">
            <h1 class="font-weight-light" style="padding-top: 8%">
                UPDATE TRAINER DETAILS
            </h1>
          </div>
      
          <div class="d-flex justify-content-center" style="padding-top: 5%">
            <div class="card" style="height: auto">
                    <div class="card-body">
                            <form (ngSubmit)="submit_form_data()" #form1="ngForm">
                                    <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" [(ngModel)]="trainer_name" name="trainer_name" #trainer_name3="ngModel"  minlength="3" required placeholder="Enter User Name" >
                                                 </div>
                                    <div class="input-group form-group">
                                      <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                      </div>
                                      <input type="email"  [(ngModel)]="email_id" class="form-control" name="email_id" #email_id3="ngModel" required placeholder="Enter Email Id" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{3,4}$">
                                        </div>

                                        <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-pie-chart"></i></span>
                                                </div>
                                                <input type="text" class="form-control" [(ngModel)]="techs" name="techs" #techs3="ngModel" required placeholder="Enter Technology" >
                                                
                                        </div>
                                        <div class="input-group form-group">
                                          <div class="input-group-prepend">
                                                  <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                          </div>
                                          <select id="timeSlot" class="form-control" [(ngModel)]="time_slot" name="time_slot" #time_slot3="ngModel" placeholder="Time Slot">
                                        <option disabled>Time Slot</option>    
                                            <option selected>7am-9am</option>
                                            <option>4pm-6pm</option>
                                            <option>6pm-8pm</option>
                                          </select>
                                          
                                  </div>
                                  <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-linkedin"></i></span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="linkedin_id" name="linkedin_id" #linkedin_ref="ngModel" required placeholder="Enter LinkedIn Id" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{3,4}$">
                                    
                            </div>
                            <div class="input-group form-group">
                              <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              </div>
                              <input type="text" class="form-control" [(ngModel)]="experience" name="experience" #experience3="ngModel" required placeholder="Years of Experience" >
                              
                        </div>


                                    <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                            </div>
                                            <input type="password" [(ngModel)]="pass_word" class="form-control" name="pass_word" #pass_word3="ngModel" required placeholder="Enter Password">
                                            
                                    </div>
                                    
                                    
                                    <span *ngIf="trainer_name3.invalid && (trainer_name3.dirty || trainer_name3.touched)" class="red-text">
                                        <small *ngIf="trainer_name3.errors.required"> trainername should not be empty.</small>
                                        <small *ngIf="trainer_name3.errors.minlength"> trainer Name must be at least 3 characters long.</small>
                                    </span><br>

                            <span *ngIf="email_id3.invalid && (email_id3.dirty || email_id3.touched)" class="red-text">
                                        <small *ngIf="email_id3.errors.required"> Email Id should not be empty.</small>
                                        <small *ngIf="email_id3.errors.pattern"> This is not a valid Email Id!</small>
                                      </span><br>

                                      <span *ngIf="techs3.invalid && (techs3.dirty || techs3.touched)" class="red-text">
                                        <small *ngIf="techs3.errors.required"> Technology should not be empty.</small>
                                      </span><br>

                                      <span *ngIf="time_slot3.invalid && (time_slot3.dirty || time_slot3.touched)" class="red-text">
                                        <small *ngIf="time_slot3.errors.required"> Time Slot should not be empty.</small>
                                        <small *ngIf="time_slot3.errors.pattern"> This is not a valid Email Id!</small>
                                      </span><br>

                                      <span *ngIf="linkedin_ref.invalid && (linkedin_ref.dirty || linkedin_ref.touched)" class="red-text">
                                        <small *ngIf="linkedin_ref.errors.required"> LinkedIn Id should not be empty.</small>
                                        <small *ngIf="linkedin_ref.errors.pattern"> This is not a valid Linked In Id!</small>
                                      </span><br>

                                      <span *ngIf="experience3.invalid && (experience3.dirty || experience3.touched)" class="red-text">
                                        <small *ngIf="experience3.errors.required"> Experience should not be empty.</small>
                                      </span><br>

                            <span *ngIf="pass_word3.invalid && (pass_word3.dirty || pass_word3.touched)" class="red-text">
                                        <small *ngIf="pass_word3.errors.required"> Password should not be empty.</small>
                                      </span>

                                    <div class="form-group">
                                            <!-- <input type="button" value="Sign Up" class="btn float-right login_btn" [disabled]="!form1.form.valid"> -->
                                            <button [disabled]="!form1.form.valid" class="btn float-right btn-warning">Update</button>
                                    </div>
                            </form>
                    </div>
                    <div>
                                <br><p class="red-text">{{message}}</p>
                </div>
            </div>
      </div>


</div>