<div class="image">

    <div id="usr" style="text-align: center; padding-top: 5%;">
        <input id="myInput" name="search" style="width:50%" placeholder="                                                                    Search here.">
    <br><br>
    
        <h2><strong style="color: black">Trainer Details</strong></h2><br>
        <div class="table-responsive" style="width: 100%;">
          <table class="table table-striped table-bordered" style="color: white; background: rgba(0,0,0,0.7); width: 100%">
            <tr class="text" style="color: goldenrod">
                <th>Mentor Name</th>
                <th>Experience</th>
                <th>LinkedIn ID</th>
                <th>Time Slot</th>
              
            </tr>
            <tbody id="myTable">
            <tr *ngFor="let mentor of mentors" class="text">
                <td>{{mentor.name}}</td>
                <td>{{mentor.experience}}</td>
                <td>{{mentor.linkedinId}}</td>                
                <td>{{mentor.timeSlot}}</td>                
            </tr>
          </tbody>
          </table>
          <div style="align-items: center; padding-top: 3%;">
            <button  class="btn btn-dark form-button" routerLink="../usercourses">Go back</button>
          </div>
      
        </div>
      </div>
      </div>
    
    
    
    
    