<div class="image">
      
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-20 col-sm-12" style="padding-bottom: 200px; padding-top: 3%;">
				<div class="home-thumb">
						<img src="https://i.ibb.co/MNWvMwy/kisspng-the-learning-hub-forest-gate-the-complete-cannabis-hub-5addbc7f5d0332-108650331524481151381.png" style="width: 260px">

					<h1>LEARNING HUB</h1>
          			<h3>Get ready to experience <strong>learning</strong> like <strong>never before</strong> !</h3>
					  <a routerLink='home' class="btn btn-warning">Let's begin</a>				
				</div>
			</div>

		</div>
	</div>		
</div>