<div class="image">

    <div class="container" style="padding-top: 150px">
    
        <div class="card-deck" style="width: 100%">
            <div class="card" style=" height:300px; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-plus-circle fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Add Technology</h4>
                    <p class="card-text">Add technologies.</p>
                    <a routerLink="../addtechnology" class="btn btn-warning ">View</a>

                </div>
            </div>

                    <div class="card" style=" height:300px; color: white;">
                        <span style="padding: 15px; color: goldenrod" class="fa fa-edit fa-5x"></span>
                        <div class="card-body">
                            <h4 class="card-title">Edit Technologies</h4>
                            <p class="card-text">Update technologies.</p>
                            <a routerLink="../adminedit" class="btn btn-warning ">View</a>
        
                        </div>
                    </div>
    
                <div class="card" style=" height:300px; color: white;">
                        <span style="padding: 15px; color: goldenrod" class="fa fa-ban fa-5x"></span>
                    <div class="card-body">
                        <h4 class="card-title">Block User</h4>
                        <p class="card-text">Block or delete users.</p>
                        <a routerLink='../adminuserlist' class="btn btn-warning ">View</a>
                    </div>
                </div>
    
                <div class="card" style=" height:300px; color: white;">
                        <span style="padding: 15px; color: goldenrod" class="fa fa-ban fa-5x"></span>
                    <div class="card-body">
                        <h4 class="card-title">Block Trainer</h4>
                        <p class="card-text">Block or delete trainers.</p>
                        <a routerLink='../admintrainerlist' class="btn btn-warning " >View</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>    