<div class="image">
        <div class="container" style="padding-top: 10%" >
            <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
        
                <div class="media-body"  style="color: white">
                    <div class="row">
                    <h6 class="col-md-2" style="padding-top: 15px"><strong>HTML</strong></h6>
                    <span class="col-md-2"></span>
                        <h6 style="padding-top: 15px">Completion Date: 03 July 2019</h6>
                        <span class="col-md-3"></span>
                        <h6 style="padding-top: 15px"><strong style="color: goldenrod">Payment: </strong>Successful</h6>
                </div>
            </div>
            </div>
        
            <br>
            <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
        
                    <div class="media-body"  style="color: white">
                        <div class="row">
                        <h6 class="col-md-2" style="padding-top: 15px"><strong>Java</strong></h6>
                        <span class="col-md-2"></span>
                            <h6 style="padding-top: 15px">Completion Date: 15 July 2019</h6>
                            <span class="col-md-3"></span>
                            <h6 style="padding-top: 15px"><strong style="color: goldenrod">Payment: </strong>Successful</h6>
                    </div>
                </div>
                </div>
        
                <br>
                <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
        
                        <div class="media-body"  style="color: white">
                            <div class="row">
                            <h6 class="col-md-2" style="padding-top: 15px"><strong>Angular</strong></h6>
                            <span class="col-md-2"></span>
                                <h6 style="padding-top: 15px">Completion Date: 24 July 2019</h6>
                                <span class="col-md-3"></span>
                                <h6 style="padding-top: 15px"><strong style="color: goldenrod">Payment: </strong>Successful</h6>
                        </div>
                    </div>
                    </div>
        
        </div>
        </div>